<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Sign up</h2>
    <form method="POST">
        <div>
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <br>
        <div>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <br>
        <div>
            <button type="submit" class="btn-new">Sign up</button>
        </div>
        <br>
        <div>
            <a href="{{ url_for('home') }}" class="btn-new">Homepage</a>
        </div>
    </form>
    <p>{{ message }}</p>
</body>
</html>